{{#post}}
  <div class="featured mx-auto max-w-7xl gap-8 justify-between flex flex-wrap">
    <!-- Older Post Section -->
    <article
      class="max-w-[512px] flex-grow flex-shrink basis-[280px] p-6 border-dotted border-secondary-400 dark:border-secondary-800 flex flex-wrap rounded-lg reverse-me border shadow-sm hover-glow"
    >
      <div class="mr-4 w-24 leading-6 rounded-lg">
        <!-- Fetching older posts excluding the current post -->
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}+published_at:<'{{published_at}}'+id:-{{id}}" limit="1" order="published_at desc"}}
          {{#foreach posts}}
            <a href="{{url}}" class="aspect-square block w-full bg-transparent">
              <img
                src="{{feature_image}}"
                alt="{{title}}"
                class="rounded-lg object-cover w-full h-full ml-2 text-right"
              />
            </a>
          {{/foreach}}
        {{/get}}
      </div>
      <div class="flex-grow flex-shrink basis-[120px] ml-2">
        <div class="mb-2 uppercase text-xs leading-6 card-excerpt">Older Post
        </div>
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}+published_at:<'{{published_at}}'+id:-{{id}}" limit="1" order="published_at desc"}}
          {{#foreach posts}}
        <h3
          class="h6 text-xl hover:text-primary-500 gradient-underline relative after:absolute after:inset-x-0 after:bottom-0 after:origin-bottom-left"
        >
          <a href="{{url}}">{{title}}</a>
        </h3>
        {{/foreach}}
        {{/get}}
      </div>
    </article>
    <article
      class="featured-card max-w-[512px] flex-grow flex-shrink basis-[280px] p-6 border-dotted border-secondary-400 dark:border-secondary-800 flex flex-wrap rounded-lg border shadow-sm hover-glow"
    >
      <div class="mr-4 w-24 leading-6 rounded-lg">
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}+published_at:>'{{published_at}}'" limit="1" order="published_at asc"}}
          {{#foreach posts}}
            <a href="{{url}}" class="aspect-square block w-full bg-transparent">
              <img
                src="{{feature_image}}"
                alt="{{title}}"
                class="rounded-lg object-cover w-full h-full"
              />
            </a>
          {{/foreach}}
        {{/get}}
      </div>
      <div class="flex-grow flex-shrink basis-[120px] ml-2">
        <div class="mb-2 uppercase text-xs leading-6 card-excerpt">Newer Posts
        </div>
        {{#get "posts" filter="primary_tag:{{primary_tag.slug}}+published_at:>'{{published_at}}'" limit="1" order="published_at asc"}}
        {{#foreach posts}}
        <h3
          class="h6 text-xl hover:text-primary-500 gradient-underline relative after:absolute after:inset-x-0 after:bottom-0 after:origin-bottom-left"
        >
          <a href="{{url}}">{{title}}</a>
        </h3>
        {{/foreach}}
        {{/get}}
      </div>
    </article>
  </div>
{{/post}}
