<section
  class="m-4 items-center justify-center space-y-6 pb-8 pt-6 md:pt-10 lg:pt-32"
>
  <div class="container flex max-w-7xl flex-col m-auto items-center gap-4 text-center">
    <h1 class="text-center font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-gradient">
      {{@site.title}}
    </h1>
    <p class="max-w-2xl leading-normal py-4 text-slate-700 dark:text-slate-300 sm:text-xl sm:leading-8 card-excerpt">
      {{@site.description}}
    </p>
  </div>
  <div class="flex items-center justify-center">

    <button class="py-2 px-4 md:py-4 md:px-6 btn-gradient" type="button">
  {{#if @custom.custom_cta_button}}
    {{#if @custom.custom_cta_url}}
      <!-- Both custom_cta_button and custom_cta_url are set -->
      <a href="{{@custom.custom_cta_url}}">{{@custom.custom_cta_button}}</a>
    {{else}}
      <!-- Only custom_cta_button is set, use default href -->
      <a href="/signin">{{@custom.custom_cta_button}}</a>
    {{/if}}
  {{else}}
    {{#if @custom.custom_cta_url}}
      <!-- Only custom_cta_url is set, use default button text -->
      <a href="{{@custom.custom_cta_url}}">Sign In</a>
    {{else}}
      <!-- Neither is set, use default text and href -->
      <a href="/signin">Join Now, its free</a>
    {{/if}}
  {{/if}}
</button>
  </div>
</section>