<section class="px-4 sm:px-6 mb-24 max-w-7xl">
  <div class="max-w-container mx-auto"> 
    <h2 class="text-sm font-semibold uppercase text-typ-none border-b border-dotted border-slate-800 mb-6 md:mb-8 pb-2.5">Featured Posts</h2>
    <div class="grid gap-10 md:grid-cols-3">
        {{#get "posts" limit="1" include="tags,authors"}}
        {{#foreach posts}}
        <div class="md:col-span-2">
          <article class="relative text-slate-300 flex flex-col gap-4">
            <a href="{{url}}" class="block">
              <figure class="rounded-lg border border-dotted border-slate-300 overflow-hidden"> 
                <picture>
                  <img src="{{feature_image}}" alt="{{title}}">
                </picture>
              </figure>
            </a>
            <div class="flex h-full flex-col gap-2">
              {{#if featured}}
                {{#primary_tag}}
                  <div class="flex items-center flex-wrap gap-2 text-sm">
                    <a href="{{url}}" class="hover:text-primary">{{name}}</a>
                    <span>.</span>
                    <time datetime="2024-03-03" class="ml-4">{{published_at}}</time>
                    <span class="flex-1"></span>
                    <span class="flex gap-1 text-xs font-medium group relative rounded-full">
                      <span class=" sr-only">Featured</span>
                      <span>{{> "icons/fire"}}</span>
                    </span>
                  </div>
                {{/primary_tag}}
              {{/if}}
              <h3 class="card-excerpt text-lg sm:text-xl font-semibold hover:text-primary md:text-2xl lg:text-3xl">
                <a href="#">{{title}}</a>
              </h3>
              <p class="font-light text-sm card-excerpt">{{excerpt characters="150"}}</p>
              {{#if authors}}
                {{#foreach authors}}
                  <ul class="flex gap-3 text-sm font-medium mt-2">
                    <li>
                      <a href="{{url}}" class="flex fap-1.5 items-center hover:text-primary">
                        <picture>
                          <img src="{{profile_image}}" width="24px" height="24px" alt="{{name}}" class="rounded-full mr-2">
                        </picture>
                        <span>{{name}}</span>
                      </a>
                    </li>
                  </ul>
                {{/foreach}}
              {{/if}}
            </div>
          </article>
          </div>
        {{/foreach}}
        {{/get}}
      

      <div class="flex flex-col gap-10">
        {{#get "posts" filter="featured:true" limit="2" include="tags" order="published_at desc" as |featuredPosts|}}
        {{#foreach featuredPosts}}
          <article class="relative text-slate-400 flex flex-col gap-4">
            <a href="{{url}}" class="block">
              <figure class="rounded-lg border border-dotted border-slate-900 overflow-hidden">
                <picture>
                  <img src="{{feature_image}}" alt="{{title}}">
                </picture>
              </figure>
            </a>
            <div class="flex h-full flex-col gap-2">
              {{#if featured}}
                {{#primary_tag}}
                  <div class="flex items-center flex-wrap gap-2 text-sm">
                    <a href="{{url}}">{{name}}</a>
                    <span>.</span>
                    <time datetime="">{{published_at}}</time>
                    <span class="flex-1"></span>
                  </div>
                {{/primary_tag}}
              {{/if}}
            </div>
            <h3 class="text-lg sm:text-xl font-semibold mt-2">
              <a href="{{url}}">{{title}}</a>
            </h3>
            <p class="font-light text-sm mt-2 mb-4">{{excerpt}}</p>
          </article>
        {{/foreach}}
        {{/get}}
      </div>
    </div>
  </div>
</section>
