{{!--  --}}
<div class="flex justify-between items-center p-8 card-excerpt">
    <div class="flex gap-8 items-center">
        <!-- Dynamic injection of site logo or title -->
      {{#if @site.logo}}
      <a href="{{@site.url}}"><img src="{{@site.logo}}" width="48px" height="48px" alt="{{@site.title}}" class="invert dark:invert-0" /></a>
    {{else}}
      <div class="text-4xl font-serif">{{@site.title}}</div>
    {{/if}}
        <!--navigation placeholder navigation -->
        <nav class="text-sm">
          {{navigation}}
        </nav>
    </div>
    <div class="flex gap-5 items-center">
        <!-- Search and other elements -->
        <button class="gh-search" data-ghost-search>{{> "icons/search"}}</button>

        
        <button id="theme-toggle" type="button" class="text-secondary-500 dark:text-secondary-400 hover:bg-secondary-100 dark:hover:bg-secondary-700 focus:outline-none focus:ring-4 focus:ring-secondary-200 dark:focus:ring-secondary-700 rounded-lg text-sm p-2.5">
           <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
           <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>

        
         

    {{!-- hamburgerToggle --}}

        {{> dark-mode-toggle}}
    {{!------------------------------}}

{{!-- Sign up Button --}}
    {{#if @site.members_enabled}}
  {{#if @member}}
    <!-- If the user is signed in, show Sign Out and Account options -->
    <p class="text-sm hidden xl:block dark:text-secondary-100"><a href="javascript:" data-members-signout>Sign Out</a></p>
    <div class="text-sm hidden xl:block dark:text-secondary-100">
      <a href="/account/" {{#if @custom.use_portal_links}}data-portal="account"{{/if}}>
        {{> "icons/user"}}
      </a>
    </div>
  {{else}}
    <!-- If the user is not signed in, show Sign In and Become Member options -->
    <p class="text-sm hidden xl:block dark:text-secondary-100"><a href="/signin">Sign in</a></p>
    <button type="button" class="py-2 px-6 btn-gradient hidden xl:block text-sm"><a href="/membership">Become member</a></button>
  {{/if}}
{{/if}}
    </div>
</div>

{{!-- Mobile NavMenu --}}

          <nav class="px-8  h-screen hidden" id="navbarMenu">
            <hr class="dark:bg-secondary-900 h-0.5 border-0 bg-secondary-200" />
              <ul class=" px-4" role="menu">
                  {{#foreach navigation}}
                      <li class="{{link_class for=(url) class=(concat "nav-" slug)}} py-2" role="menuitem">
                        <a href="{{url absolute="true"}}">{{label}}</a>
                      </li>
                  {{/foreach}}
               </ul>
            <hr class="dark:bg-secondary-900 h-0.5 border-0 bg-secondary-200">
               <div class="flex gap-5 items-center justify-center">
                  <p class="dark:text-secondary-100 text-lg"><a href="/sign-in">Sign in</a></p>
                  <button type="button" class="py-2 px-6 btn-gradient"><a href="/membership">Become member</a></button>
               </div>
          </nav>








