<div class="mt-16 mb-16">
  <div class="container max-w-7xl mx-auto w-full pr-4 pl-4 mr-auto ml-auto">
    <h2 class="text-sm font-semibold uppercase text-slate-900 dark:text-slate-400 border-slate-900 dark:border-slate-800 border-b border-dotted mb-10 pb-2.5">Popular Categories</h2>
    {{#get "tags" limit="8" include="count.posts" order="count.posts desc"}}
      <div class="flex justify-center flex-wrap gap-6 ">
        {{#foreach tags}}
        {{!-- other tags --}}
          <a href="{{url}}" class="flex-1 m-2 min-w-[10rem] no-underline">
            <div
              class="p-3 dark:bg-transparent dark:border-slate-800 rounded-lg border border-dotted relative overflow-hidden items-center flex hover-glow">
              <div class="w-12 h-12 rounded-full overflow-hidden z-[2]">
                {{#if feature_image}}
                  <img
                    src="{{feature_image}}"
                    alt="{{name}}"
                    class="object-cover w-full h-full rounded-lg block border-0"
                  />
                {{else}}
                  <img
                    src="default-image-url.jpg"
                    alt="Default Image"
                    class="object-cover w-full h-full rounded-lg block border-0"
                  />
                {{/if}}
              </div>
              <div class="text-center z-[2] ml-3">
                <div class="text-lg font-bold dark:text-slate-400 card-excerpt">{{name}}</div>
                <div class="text-xs mt-1 dark:text-slate-400 card-excerpt">{{count.posts}} Posts</div>
              </div>
            </div>
          </a>
        {{/foreach}}
        {{!-- all categories --}}
        <a href="/tags" class="flex-1 m-2 min-w-[10rem] no-underline">
            <div
              class="p-3 dark:bg-transparent dark:border-slate-800 rounded-lg border border-dotted relative overflow-hidden items-center flex hover-glow">
              <div class="w-12 h-12 rounded-full overflow-hidden z-[2]">
                {{#if feature_image}}
                  <img
                    src="{{feature_image}}"
                    alt="{{name}}"
                    class="object-cover w-full h-full rounded-lg block border-0"
                  />
                {{else}}
                  <img
                    src="https://www.geekbits.io/content/images/2023/09/security-1.svg"
                    alt="Default Image"
                    class="object-cover w-full h-full rounded-lg block border-0"
                  />
                {{/if}}
              </div>
              <div class="text-center z-[2] ml-3">
                <div class="text-lg font-bold dark:text-slate-400 card-excerpt">All Categories.</div>
              </div>
            </div>
          </a>
      </div>
    {{/get}}
  </div>
</div>




