{{!< default }}
{{! archive entries }}
<div class="flex justify-center mx-auto items-center max-w-7xl card-excerpt">
  <div class="px-4 container mx-auto max-w-3xl pr-4 pl-4 ml-auto mr-auto mt-32">
    <h1 class="text-4xl text-center font-semibold mb-8">Archive</h1>
    {{#get "posts"}}
      <p class="text-lg text-center mb-12">Browse the complete archive of
        {{pagination.total}}
        posts.</p>
    {{/get}}
    <div class="h2 font-bold mb-4">{{date format="YYYY"}}</div>
    <div
      class="mt-2 mb-2 border-x border-t rounded-lg border-gray-300 dark:border-gray-700"
    >
      {{#foreach posts visibility="all"}}
        <div class="year-section">
          <div class="mt-1 mb-1">
            <article class="flex justify-start items-center p-4">
              <time
                datetime="{{date published_at format="YYYY-MM-DD"}}"
                class="text-gray-600 dark:text-gray-400 bg-gray-300 dark:bg-gray-800 rounded-lg p-2"
              >
                {{date published_at format="DD MMM YYYY"}}
              </time>
              <h2 class="text-lg text-medium font-normal ml-4 mt-4">
                <a
                  href="{{url}}"
                  class="text-gray-600 hover:text-gray-800 dark:text-gray-400 hover:underline transition duration-300"
                >{{title}}</a>
              </h2>
            </article>
            <hr class="h-px mt-1 mb-1 bg-gray-200 border-0 dark:bg-gray-700" />
          </div>
        </div>
      {{/foreach}}
    </div>
    {{pagination}}
    </div>
  </div>
</div>