{{!< default }}
<!-- tag.hbs -->

<!-- Everything inside of #tag pulls data from the tag -->
<section class="max-w-7xl mx-auto my-16">
  {{#tag}}

    <header class="relative flex justify-center">
      {{#if feature_image}}
        <img
          class="w-full rounded-2xl h-96 object-cover feature-img"
          src="{{feature_image}}"
          alt="{{name}}"
        />
        <figcaption
      class="absolute card-excerpt bottom-8 left-2/4 flex w-[calc(100%-4rem)] -translate-x-2/4 justify-between rounded-xl border border-dotted border-slate-400 dark:border-slate-800 bg-white/10 py-4 px-6 shadow-lg shadow-black/5 saturate-200 backdrop-blur-sm">
      <div>
        <h5
          class="block text-2xl antialiased font-mediumbold leading-snug tracking-normal text-slate-200 dark:text-slate-400">
          {{name}}
        </h5>
        <p class="block mt-2 text-base antialiased font-normal leading-relaxed text-slate-200 dark:text-slate-400">
          {{description}}
        </p>
      </div>
    </figcaption>
      {{/if}}
    </header>
  {{/tag}}
{{#if posts}}
  <div class="mx-auto my-20 grid justify-center  gap-4 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
    {{#foreach posts}}
      {{> postCard }}
    {{/foreach}}
  </div>
{{/if}}
  </div>

  {{!-- Pagination --}}
  {{pagination}}
</section>


<style>
  .feature-img {
    filter: blur(2px) brightness(35%) opacity(95%);
    -webkit-filter: blur(2px) brightness(35%) opacity(95%);
    -moz-filter: blur(2px) brightness(35%) opacity(95%);
  }
</style>