<main class=" flex-grow pr-1 pl-4 block mt-32 mb-12 mx-auto w-full max-w-screen-lg card-excerpt hover">
    <div class=" container w-full pr-4 pl-4 mx-auto">
        <div class=" bg-slate-100/50 dark:bg-transparent rounded-lg max-w-3xl border border-dotted border-slate-400 dark:border-slate-800 pt-10 pr-10 pb-6 pl-10 hover-glow">
            <div class=" gap-x-4 gap-y-4 flex-wrap flex text-slate-900 dark:text-slate-300">
                <div class=" w-28 h-28 rounded-full relative px-2 py-2 before:">
                    {{#if @member.avatar_image}}
                    <figure>
                        <img src="{{@member.avatar_image}}" alt="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}" class="rounded-full"/>
                    </figure>
                    {{/if}}
                </div>
                <div class=" flex-grow flex-shrink basis-96">
                    <div class=" text-lg font-bold mb-4 leading-6">{{t "Welcome back"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</div>
                    <div class="text-sm  font-normal mt-4">Hey! You have an active {{@site.title}} account with access to all areas. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing.</div>
                </div>
            </div>
            <div class=" flex justify-left mt-2">
                <a href="javascript:" class="text-sm gh-portal-close" data-portal="account">Account Settings</a>
            </div>
            <div class=" mt-8 border-t border-dotted border-slate-400  dark:border-slate-800 leading-6 text-slate-900 dark:text-slate-300">
                <div class="flex flex-wrap">
                    <div class=" mt-8 flex-grow flex-shrink basis-80">
                        <div class="leading-6">Name: </div>
                        <div class=" font-bold text-lg">{{@member.name}}</div>
                    </div>
                    <div class=" flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Email Address: </div>
                        <div class="font-bold text-lg">{{@member.email}}</div>
                    </div>
                    <div class="flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Selected Plan: </div>
                        <div class="font-bold text-lg">{{tier.name}} - {{price plan}}/{{plan.interval}}</div>
                    </div>
                    <div class="flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Status:</div>
                        <div class="font-bold text-lg"> {{#if @member.paid}}Active{{else}}Inactive{{/if}}</div>
                    </div>
                    <div class="flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Card:</div>
                        <div class="font-bold text-lg"> **** **** **** {{default_payment_card_last4}}</div>
                    </div>
                    <div class="flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">{{#if cancel_at_period_end}}{{t "Expiry: "}}{{else}}{{t "Next Billing Date: "}}{{/if}}</div>
                        <span class="font-bold text-lg">{{date current_period_end format="DD MMM YYYY"}}</span>
                    </div>
                    <div class=" mt-4 dark:bg-transparent border-red-500 rounded-b text-red-600 dark:text-red-500 px-2 py-1">
                    {{cancel_link}}
                    </div>
                </div>
            </div>
            <div class="gap-4 border-t border-dotted border-slate-400 dark:border-slate-800 mt-8 pt-8 flex">
                <a href="javascript:"
                   data-members-edit-billing
                   data-members-success="{{@site.url}}/account/?stripe=billing-update-success"
                   class="w-1/2 py-2 px-3 text-slate-100 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 disabled:opacity-50 disabled:pointer-events-none">Edit Billing Info</a>
                <a href="javascript:"
                   data-members-edit-billing
                   data-members-cancel="{{@site.url}}/account/?stripe=billing-update-cancel"
                  class="w-1/2 py-2 px-3 text-slate-100 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gradient-to-br from-red-600 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 disabled:opacity-50 disabled:pointer-events-none">Cancel Subscription</a>
            </div>
        </div>
    </div>
</main>

<style>
    .hover-flow:hover > .line {
  transform: scale(1);
  opacity: 0;
  transition: all 1s;
}

.hover-glow:hover > .line:nth-child(2), 
.hover-glow:hover > .line:nth-child(5) {
  transition-delay: 0.2s; /* Assuming a specific delay value since $delay1 is not provided */
}

.hover-glow:hover > .line:nth-child(3),
.hover-glow:hover > .line:nth-child(6) {
  transition-delay: 0.4s; /* Assuming a specific delay value since $delay2 is not provided */
}

.hover-glow:hover {
  background: rgba(255, 255, 255, 0.03);
}
</style>