<main class=" flex-grow block mt-32 mb-12 mx-auto w-full max-w-screen-lg shadow-sm dark:shadow-sm">
        <div class=" bg-secondary-100 dark:bg-secondary-900 rounded-lg mx-auto max-w-3xl border border-dotted border-secondary-400 dark:border-secondary-800 py-10 px-8 card-excerpt hover-glow">
            <div class=" gap-4 flex-wrap flex items-center">
                <div class=" w-28 h-28 rounded-full relative px-2 py-2 before:">
                    {{#if @member.avatar_image}}
                    <figure>
                        <img src="{{@member.avatar_image}}" alt="{{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}" class="rounded-full"/>
                    </figure>
                    {{/if}}
                </div>
                <div class=" flex-grow flex-shrink basis-96">
                    <div class=" text-lg font-bold mb-4 leading-6">{{t "Welcome back"}}{{#if @member.name}}, {{@member.name}}{{/if}}!</div>
                    <div class="text-sm  font-normal mt-4">{{t "You are on free tier, upgrade for full access to all features!"}}</div>
                </div>
            </div>
            <div class=" flex justify-left mt-8">
                <a href="javascript:" class="text-lg gh-portal-close" data-portal="account">Account Settings</a>
            </div>
            <div class=" mt-4 border-t border-solid border-secondary-400 leading-6">
                <div class="flex flex-wrap">
                    <div class=" mt-4 flex-grow flex-shrink basis-80">
                        <div class="leading-6">Name: </div>
                        <div class=" font-bold text-lg">{{@member.name}}</div>
                    </div>
                    <div class=" flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Email Address: </div>
                        <div class="font-bold text-lg">{{@member.email}}</div>
                    </div>
                    <div class="flex-grow flex-shrink basis-80 mt-8">
                        <div class="leading-6">Selected Plan: </div>
                        <div class="font-bold text-lg">{{t "Free"}}</div>
                    </div>
                </div>
            </div>
            <div class="gap-4 border-t border-solid border-secondary-400 mt-8 pt-8 flex">
                <a href="/membership"
                   class="w-1/2 py-2 px-3 text-secondary-100 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent btn-gradient-2 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 disabled:opacity-50 disabled:pointer-events-none">Upgrade</a>
                <a href="javascript:"
                   data-members-signout=""
                  class="w-1/2 py-2 px-3 text-secondary-100 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gradient-to-br from-red-600 to-purple-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 disabled:opacity-50 disabled:pointer-events-none">Logout</a>
            </div>
        </div>
</main>